@page "/"

<PageTitle>Index</PageTitle>
<div style="background-color: #F8F8F8;">
<p style="color: #121619; font-weight: bold; font-size: 200px;">Trial</p>
<p style="color: black; font-weight: bold; font-size: 200px;">Trial</p>
</div>
