@inject ICartService CartService
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable


<button>
    <a href="cart">
        <i class="oi oi-cart"></i>
        <span>@GetCartItemsCount()</span>
    </a>
</button>

@code {
    private int GetCartItemsCount()
    {
        var cart = LocalStorage.GetItem<List<CartItem>>("cart");
        return cart == null ? 0 : cart.Count;
    }
    protected override void OnInitialized() 
    { 
        CartService.OnChange += StateHasChanged; 
    }

    public void Dispose() 
    { 
        CartService.OnChange -= StateHasChanged; 
    }

}
