<div class="navDiv">
    <nav>
        <div class="blankspace"></div>
        <div class="navOneDiv">
            <NavLink href="products">
                <i class="oi oi-basket"></i> Všechny produkty
            </NavLink>
        </div>
        <div class="navOneDiv">
            <NavLink href="products/notebooky">
                <i class="oi oi-laptop"></i> Notebooky
            </NavLink>
        </div>
        <div class="navOneDiv">
            <NavLink href="products/mobilni-telefony">
                <i class="oi oi-phone"></i> Mobilní telefony
            </NavLink>
        </div>
        <div class="blankspace"></div>
    </nav>
</div>

@code {

}
