.propage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--mainc);
}
.mainpagetitle {
    width:100%;
    height: 50vh;
    background-color: var(--mainc);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mainpagetitle h1 {
    display: block;
    font-size: 10rem;
    color: var(--mainw);
    font-weight: bolder;
}
.about {
    font-size: 2rem;
    padding: 0 5rem;
}
.bestsell {
    display: flex;
    flex-direction: column;
    background-color: var(--clearw);
    padding-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
}
.bestsellbody {
    display: flex;
}
.productbox {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    width: 30vw;
}

a:hover {
    color: var(--mainb)
}

.productbox:hover {
    background-color: var(--mainw);
}

.boxname {
    flex: 3;
    padding: 1rem;
    word-wrap: break-word;
}
.boxname h4 {
    font-weight: bold;
}
.boxprice p {
    font-weight: bold;
}

.boximg {
    flex: 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxprice {
    font-size: 2rem;
    color: var(--mainc);
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    padding-top: 2rem;
}

.productbox img {
    max-width: 100%;
    max-height: 100%;
}
