.propage {
    width: 80vw;
    display: flex;
    justify-content: center;
}
.productsbody {
    width: 100%;
    display: grid;
    margin-left: 20vw;
    grid-template-columns: 25% 25% 25% 25%;
}
.productbox {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    width: 100%;
}
a:hover {
    color: var(--mainb)
}
.productbox:hover {
    background-color: var(--mainw);
}
.boxname {
    flex: 3;
    padding: 1rem;
    word-wrap: break-word;
}
.boximg {
    flex: 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.boxprice {
    font-size: 2rem;
    flex: 1;
    display: flex;
    justify-content:flex-end;
    padding-right: 2rem;
}
.productbox img {
    max-width: 100%;
    max-height:100%;
}
/*
#1512372 {
    max-width: 250px;
    max-height: 250px;
}
#1534618 {
    max-width: 250px;
    max-height: 150px;
}*/