@inject IProductServiceInterface ProductService

@if(ProductService.Products == null || ProductService.Products.Count == 0)
{
    <span>@ProductService.Message</span>      
}
else
{
    <div>
        @foreach (var product in ProductService.Products)
        {
            <div>
                <a href="product/@product.ProId">
                <h4>@product.Name</h4>
                </a>
                <img src="@product.ImageUrl">
                <p>@product.Price Kč</p>
            </div>
        }
    </div>
}

@code {
    protected override void OnInitialized()
    {
        ProductService.ProductChanged += StateHasChanged;
    }
    public void Dispose()
    {
        ProductService.ProductChanged -= StateHasChanged;
    }
}