@inject NavigationManager NavigationManager
@inject IProductServiceInterface ProductService

<div class="searchdiv">
    <div class="searchinputdiv">
        <input type="search" id="searchbarid" placeholder="Vyhledat" @bind-value="searchString" @bind-value:event="oninput" @onkeyup="Keyboard" @ref="userSearch" />
    </div>
    <div class="buttondiv">
        <button @onclick="SearchPro">Search</button>
    </div>
</div>

@code {
    private string searchString = string.Empty;
    protected ElementReference userSearch;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await userSearch.FocusAsync();
        }
    }
    public void SearchPro()
    {
        NavigationManager.NavigateTo($"products/search/{searchString}");
    }
    public async Task Keyboard(KeyboardEventArgs keyInput)
    {
        if (keyInput.Key == null || keyInput.Key.Equals("Enter"))
        {
            SearchPro();
        }
    }

}
