<div class="toprow">
    <div class="shopicon">
        <a href="">
            <span>TM Eshop</span>
        </a>
    </div>
    <div class="toprowsearch"><Search /></div>
    <div class="toprowcart">
        <div class="darkmodesw"></div>
        <div class="topcartbutton">
            <CartCounter />
        </div>
    </div>
</div>
@code {

}
